<% include components/_head %>
<div class="col-xs-12 page-header">
	<h3>One Page Templates</h3>
	<ul class="site-breadcrumbs">
		<li><a href="/">Home</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>One Page Templates</li>
	</ul>
</div>
<div class="col-xs-12 content">
	<div class="col-xs-12 content-body">
		<ul>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
		</ul>
		<% include components/_pagination %>
	</div>
</div>
<% include components/_sign-up2 %>
<% include components/_footer %>