<% include components/_head %>
<div class="col-md-12 page-header">
	<h3>Contact</h3>
	<ul class="site-breadcrumbs">
		<li><a href="/">Home</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Contact</li>
	</ul>
</div>
<div class="col-md-12 contacts">
	<article>
		<h4>Please fill in the following form to contact us</h4>
		<div class="col-xs-12 form-contacts">
			<form method="POST">
				<label>
					<legend>Your Name</legend>
					<input class="alert" type="text" name="name" placeholder="name *" requred />
				</label>
				<label>
					<legend>Your Email</legend>
					<input class="alert" type="text" name="email" placeholder="@ email address *" requred />
				</label>
				<label>
					<legend>Your Message</legend>
					<textarea class="alert" name="text" rows="4" placeholder="text heare..." requred ></textarea>
				</label>
				<label>
					<button type="submit">send</button>
				</label>
			</form>
		</div>
	</article>
</div>
<% include components/_footer %>