<% include components/_head %>
<div class="col-xs-12 page-header">
	<h3>Website Templates</h3>
	<p>KitGit offers high quality website templates that can be used for personal and commercial projects. The templates are easy to use and easy to customize. Latest templates are responsive.</p>
</div>
<div class="col-xs-12 content">
	<div class="col-xs-12 content-name">
		<h4>Latest Templates</h4>
	</div>
	<div class="col-xs-12 content-body">
		<ul>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-xs-12 col-md-4">
					<div class="col-xs-12 media">
						<a href="/template">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-xs-12 details">
						<h2>Corvus - Onepage Personal Portfolio</h2>
						<a href="/template">Preview & Download</a>
					</div>
				</article>
			</li>
		</ul>
		<div class="col-xs-12 content-button text-center">
			<a href="/category">View All Templates</a>
		</div>
	</div>
</div>
<% include components/_footer %>