<% include components/_head %>
<div class="col-md-12 page-header">
	<h3>License</h3>
	<ul class="site-breadcrumbs">
		<li><a href="/">Home</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>License</li>
	</ul>
</div>
<div class="col-md-12 license">
	<article>
		<p>A license grants you a non-exclusive and non-transferable right to use and incorporate the item in your personal or commercial projects.</p>
		<ul>
			<li>You may use the item in work which you are creating for your own purposes or for your clients.</li>
			<li>You must not incorporate the item in a work which is created for redistribution or resale by you or your clients.</li>
			<li>The item may not be redistributed or resold.</li>
			<li>If the item contains licensed components, those components must only be used within the item and you must not extract and use them on a stand-alone basis.</li>
			<li>If the item was created using materials which are the subject of a GNU General Public License (GPL), your use of the item is subject to the terms of the GPL in place of the foregoing conditions (to the extent the GPL applies).</li>
		</ul>
	</article>
</div>
<% include components/_footer %>