<% include components/_head %>
<div class="col-md-12 page-header">
	<h3>Membership Plans</h3>
	<ul class="site-breadcrumbs">
		<li><a href="/">Home</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Membership-plans</li>
	</ul>
</div>
<div class="col-md-12 pricing">
	<h4>Choose the plan that best fits your needs. All plans include <strong>access to all premium templates, unlimited downloads, new releases</strong> and <strong>lifetime usage</strong> (rights to use anything you download forever, even if your membership expires).</h4>
	<% include components/_pricess-item-1 %>
</div>
<% include components/_footer %>