<div class="col-xs-12 sign-in">
	<div class="col-xs-12 logo-company">
		<a href="/"><h2><strong><font color="#02a8f3">Kit</font><font color="#000">Git</font></strong></h2></a>
	</div>
	<div class="col-xs-12 form-sign-in">
		<div class="col-xs-12 form">
			<form method="POST">
				<fieldset>		
					<label>
						<legend>Username:</legend>
						<input type="text" name="username" placeholder="username" requred />
					</label>
				</fieldset>
				<fieldset class="x">		
					<label>
						<legend>My Password:</legend>
						<input type="password" ref="password" name="password" placeholder="password" />
					</label>
				</fieldset>
				<fieldset>	
					<label class="rememberme">
						<input type="checkbox" class="checkbox" id="checkbox" />
						<label for="checkbox">Remember me</label>
					</label>
				</fieldset>
				<fieldset>
					<label>
						<button type="submit">log-in</button>
					</label>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="col-xs-12 dop-link">
		<ul>
			<li><a href="#">Lost your password ?</a></li>
			<li><a href="/">← Back to KitGit</a></li>
		</ul>
	</div>
</div>