<% include components/_head %>
<div class="col-xs-12 page-header">
	<h3>Template - Personal Portfolio Template</h3>
	<ul class="site-breadcrumbs">
		<li><a href="/">Home</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Template</li>
	</ul>
</div>
<div class="col-xs-12 content">
	<div class="col-xs-12 template-body">
		<div class="col-xs-12 col-md-8 template">
			<img src="/images/corvus-l.jpg"/>
		</div>
		<% include components/_sidebar %>
	</div>
</div>
<% include components/_more %>
<% include components/_sign-up2 %>
<% include components/_footer %>