<% include components/_head %>
<div class="col-md-12 page-header">
	<h3>Terms and Conditions</h3>
	<ul class="site-breadcrumbs">
		<li><a href="/">Home</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Terms and Conditions</li>
	</ul>
</div>
<div class="col-md-12 terms">
	<article>
		<p>The following terms and conditions were put together to help users better understand how their use of this website will be governed.</p>
		<p>Your use and access of this website indicates you accept these Terms and Conditions.</p>
		<h5>1. Ownership and Property Rights</h5>
		<p>Using this website does not grant you any ownership or interest in any content, visual interfaces, graphics, design, compilation, information, computer code, products, software, services and all other elements you may access from the website.</p>
		<h5>2. User Information</h5>
		<p>In the course of your use of the website, you may be asked for personally identifiable information. We uphold rigorous standards to uphold the integrity of this information as outlined in our Privacy Policy. You are solely responsible for the accuracy and content of this user information.</p>
		<h5>3. Third Party websites</h5>
		<p>In the course of your use of the website, you may be re-directed to third party websites. We have no responsibility for the content or information provided by or through third party websites even if they are affiliates of ours.<br />Linking to third party websites does not imply our endorsement of that web website. We disclaim any liability for links to another website.</p>
		<h5>4. Limitation of Liability</h5>
		<p>You agree to indemnify and hold harmless <strong>KitGit.com</strong> and its parent, subsidiaries, affiliates or any related companies, licensors and suppliers, and their respective directors, officers, employees, agents, representatives, and contractors, from all damages, injuries, liabilities, costs, fees and expenses (including, but not limited to, legal and accounting fees) arising from or in any way related to (i) your use or misuse of the website (including your use or misuse of Third Party Content); (ii) your breach or other violation of these Terms including any representations, warranties and covenants herein; (iii) your violation of the rights of any other person or entity, including, but not limited to claims that any User Content infringes or violates any third party intellectual property rights.</p>
		<h5>5. Exclusion of Warranties</h5>
		<p>The <strong>KitGit.com</strong> content, or any other product, service or information provided by <strong>KitGit.com</strong>, user content, third-party content, and any other software, services or applications made available in conjunction with or through the website, are provided on an "as is", "as available", "with all faults" basis without representations or warranties of any kind, either express, implied, or statutory, including, but not limited to, in terms of correctness, accuracy, reliability, or otherwise.<br />To the fullest extent permissible by applicable law, <strong>KitGit.com</strong> hereby disclaims all warranties of any kind, either express or implied, including, any warranty of merchantability, fitness for a particular purpose, non-infringement, or arising from a course of dealing, with respect to the products or services provided by <strong>KitGit.com</strong>.</p>
		<h5>6. Notices</h5>
		<p><strong>KitGit.com</strong> may provide you with notices by e-mail. You can opt-out of our newsletter at any time.</p>
		<h5>7. Refunds</h5>
		<p>Refunds will only be administered if products are deemed to be faulty or not as described on the product page. To request a refund, please contact us and specify exactly what the issue is with the product. The support team will then investigate to determine whether or not the product was faulty and not as described.<br />Unfortunately, due to the nature of digital goods, refunds cannot be processed until it has been determined that the product is faulty.</p>
		<h5>8. Governing Law</h5>
		<p>This agreement, and any dispute, controversy, proceedings or claim of whatever nature arising out of or in any way relating to these Terms &amp; Conditions or its formation shall be governed by and construed in accordance with Canadian law.</p>
		<h5>9. Modification of the Terms</h5>
		<p><strong>KitGit.com</strong> reserves the right to update or modify the Terms &amp; Conditions at any time without prior notice, and such changes will be effective immediately upon being posted on the website. These Terms will identify the date of last update. In the case of material changes to the Terms, <strong>KitGit.com</strong> will make reasonable efforts to notify you of the change, such as through sending an email to any address you may have used to register for an account, through a pop-up window on the website, or other similar mechanism.</p>
		<p>These terms were last updated on September 1, 2016</p>
	</article>
</div>
<% include components/_footer %>