<% include ./../../components/_head %>
<div class="col-md-12 page-header">
	<h1>Templates</h1>
	<ul>
		<li><a href="#">Home</a></li>
		<li>Templates</li>
	</ul>
</div>
<div class="col-md-12">
	<h2>Latest Templates</h2>
	<div class="col-md-12 content">
		<ul>
			<li>
				<article class="col-md-4">
					<div class="col-md-12 media">
						<a href="#">
							<!-- images heare -->
						</a>
					</div>
					<div class="col-md-12 details">
						<h2>Onepage Personal Portfolio</h2>
						<a href="#">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-4">
					<div class="col-md-12 media">
						<a href="#">
							<!-- images heare -->
						</a>
					</div>
					<div class="col-md-12 details">
						<h2>Onepage Personal Portfolio</h2>
						<a href="#">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-4">
					<div class="col-md-12 media">
						<a href="#">
							<!-- images heare -->
						</a>
					</div>
					<div class="col-md-12 details">
						<h2>Onepage Personal Portfolio</h2>
						<a href="#">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-4">
					<div class="col-md-12 media">
						<a href="#">
							<!-- images heare -->
						</a>
					</div>
					<div class="col-md-12 details">
						<h2>Onepage Personal Portfolio</h2>
						<a href="#">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-4">
					<div class="col-md-12 media">
						<a href="#">
							<!-- images heare -->
						</a>
					</div>
					<div class="col-md-12 details">
						<h2>Onepage Personal Portfolio</h2>
						<a href="#">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-4">
					<div class="col-md-12 media">
						<a href="#">
							<!-- images heare -->
						</a>
					</div>
					<div class="col-md-12 details">
						<h2>Onepage Personal Portfolio</h2>
						<a href="#">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-4">
					<div class="col-md-12 media">
						<a href="#">
							<!-- images heare -->
						</a>
					</div>
					<div class="col-md-12 details">
						<h2>Onepage Personal Portfolio</h2>
						<a href="#">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-4">
					<div class="col-md-12 media">
						<a href="#">
							<!-- images heare -->
						</a>
					</div>
					<div class="col-md-12 details">
						<h2>Onepage Personal Portfolio</h2>
						<a href="#">Preview & Download</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-4">
					<div class="col-md-12 media">
						<a href="#">
							<!-- images heare -->
						</a>
					</div>
					<div class="col-md-12 details">
						<h2>Onepage Personal Portfolio</h2>
						<a href="#">Preview & Download</a>
					</div>
				</article>
			</li>
		</ul>
		<% include ./../../components/_pagination %>
	</div>
	<div class="sign-up1">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis ipsam ab error rem similique illum neque laudantium sint. Nulla placeat necessitatibus assumenda eligendi alias corrupti id laborum. Natus, quidem!</p>
		<a href="#">Sign Up Today</a>
	</div>
</div>
<% include ./../../components/_footer %>