<div class="col-md-12 framecontent">
	<div class="innertube">
		<div class="left-actions">
			<div class="action-view"><a href="/category/all/"> <i class="fa fa-th"></i>View all Templates</a></div>
		</div>
		<div class="actions">
			<div class="action-download"> <a href="http://www.templategarden.com/download/corvus/" class="btn"> <i class="fa fa-download"></i>Download Template</a></div>
			<div class="action-close"> <a href="http://www.templategarden.com/preview/corvus/template/index.html" title="Remove Frame"> <i class="fa fa-times"></i>Remove Frame</a> </div>
		</div>
	</div>
</div>