<nav class="navbar head">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<h3><strong><font color="#02a8f3">Kit</font><font color="#000">Git</font></strong></h3>
			</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li class="dropdown">
					<a href="#">Category <span>&#9660;</span></a>
					<ul>
						<li><a href="/category">One Page Templates</a></li>
						<li class="x"><a href="#">Multi Page Templates</a></li>
						<li><a href="#">HTML</a></li>
						<li><a href="#">Wordpress</a></li>
					</ul>
				</li>
				<li><a href="/sign-in" class="log-in">Log in</a></li>
				<li><a href="/membership-plans" class="pricing">Pricing</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>