<div class="col-md-12 more">
	<div class="col-md-12 content-name">
		<h4>More Templates</h4>
	</div>
	<div class="col-md-12 content-body">
		<ul>
			<li>
				<article class="col-md-3">
					<div class="col-md-12 media">
						<a href="/template/example/">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-md-12 details">
						<a href="/template/example/">
							<h2>Corvus - Onepage Personal Portfolio</h2>
						</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-3">
					<div class="col-md-12 media">
						<a href="/template/example/">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-md-12 details">
						<a href="/template/example/">
							<h2>Corvus - Onepage Personal Portfolio</h2>
						</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-3">
					<div class="col-md-12 media">
						<a href="/template/example/">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-md-12 details">
						<a href="/template/example/">
							<h2>Corvus - Onepage Personal Portfolio</h2>
						</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-3">
					<div class="col-md-12 media">
						<a href="/template/example/">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-md-12 details">
						<a href="/template/example/">
							<h2>Corvus - Onepage Personal Portfolio</h2>
						</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-3">
					<div class="col-md-12 media">
						<a href="/template/example/">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-md-12 details">
						<a href="/template/example/">
							<h2>Corvus - Onepage Personal Portfolio</h2>
						</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-3">
					<div class="col-md-12 media">
						<a href="/template/example/">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-md-12 details">
						<a href="/template/example/">
							<h2>Corvus - Onepage Personal Portfolio</h2>
						</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-3">
					<div class="col-md-12 media">
						<a href="/template/example/">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-md-12 details">
						<a href="/template/example/">
							<h2>Corvus - Onepage Personal Portfolio</h2>
						</a>
					</div>
				</article>
			</li>
			<li>
				<article class="col-md-3">
					<div class="col-md-12 media">
						<a href="/template/example/">
							<img src="/images/corvus-s.jpg"/>
						</a>
					</div>
					<div class="col-md-12 details">
						<a href="/template/example/">
							<h2>Corvus - Onepage Personal Portfolio</h2>
						</a>
					</div>
				</article>
			</li>
		</ul>
	</div>
</div>