<section>
	<div class="col-xs-12 pricess-item-1">
		<ul>
			<li>
				<div class="col-xs-12 col-md-4 item">
					<div class="col-xs-12 head-item">
						<img src="/images/trending.svg"/>
						<h4>Bronze</h4>
						<h5>For freelances</h5>
					</div>
					<div class="col-xs-12 body-item">
						<div class="col-xs-12 price">
							<h1>$17</h1>
							<p>/ month</p>
						</div>
						<div class="col-xs-12 description">
							<ul>
								<li>Access To All Templates</li>
								<li>Lifetime Usage</li>
								<li>Unlimited Downloads</li>
								<li>Month Access</li>
							</ul>
						</div>
					</div>
					<button type="button">Buy Now Plan</button>
				</div>
			</li>
			<li>
				<div class="col-xs-12 col-md-4 item x">
					<div class="col-xs-12 head-item">
						<img src="/images/trending.svg"/>
						<h4>Silver</h4>
						<h5>For medium sized teams</h5>
					</div>
					<div class="col-xs-12 body-item">
						<div class="col-xs-12 price">
							<h1>$49</h1>
							<p>/ 6 months</p>
						</div>
						<div class="col-xs-12 description">
							<ul>
								<li>Access To All Templates</li>
								<li>Lifetime Usage</li>
								<li>Unlimited Downloads</li>
								<li>6 Months Access</li>
							</ul>
						</div>
					</div>
					<button type="button">Buy Now Plan</button>
				</div>
			</li>
			<li>
				<div class="col-xs-12 col-md-4 item">
					<div class="col-xs-12 head-item">
						<img src="/images/trending.svg"/>
						<h4>Gold</h4>
						<h5>For large compaines</h5>
					</div>
					<div class="col-xs-12 body-item">
						<div class="col-xs-12 price">
							<h1>$79</h1>
							<p>/ 12 months</p>
						</div>
						<div class="col-xs-12 description">
							<ul>
								<li>Access To All Templates</li>
								<li>Lifetime Usage</li>
								<li>Unlimited Downloads</li>
								<li>12 Months Access</li>
							</ul>
						</div>
					</div>
					<button type="button">Buy Now Plan</button>
				</div>
			</li>
		</ul>
	</div>
</section>