<div class="col-xs-12 sign-up2">
	<p>Sign up for just <strong><font color="#000">$17</font></strong> and get month access to all website templates,<br> unlimited downloads, new releases and lifetime usage.</p>
	<a href="/membership-plans">Sign Up Today</a>
</div>